.login {
  margin-right: 950px;
  justify-content: right
  ;
}
/* .loginBtn{
    margin-right: 600px;
} */

.navi{
    justify-content: right;
}

.posts {
  /* background-color: aquamarine; */
  margin: 20px;
  padding: 20px;
}

.postContainer {
  margin: 20px;
  padding: 20px;
  /* font-family: 'Lato', sans-serif; */
}
.title {
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
  background: -webkit-linear-gradient( #B9B7A7,#F5F5F5 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  ); */
}
.label{
  color: #D6D6D6;
}

.body{
  font-family: 'Oldenburg', cursive;
      font-size: 50px;
  background: -webkit-linear-gradient(90deg,
  rgb(71, 74, 93),
  rgb(245, 255, 245),
  rgb(152, 150, 152));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.author{
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  background: -webkit-linear-gradient(#F5F5F5, #D6D6D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .yourPost{
  font-family: 'Roboto Slab', serif;
  font-size: 10px;
} */

.bg-front{
  /* height: 100vh; */
background-position: center;
background-size: cover;
}
